<main>
  <section style="background-image: url(assets/home-hero.jpg); background-repeat: no-repeat; background-size: 100%">
    <div style="max-width: 500px; margin: 0 auto">
      <p class="mat-display-2">Learn on us.</p>
      <p class="mat-h2">Get instant access to a collection of courses</p>
      <a mat-raised-button color="accent">Try now</a>
      <p class="mat-caption">$2/month. Cancell anytime. Subscription auto-renews unless cancelled</p>
    </div>
  </section>
  
  <mat-tab-group style="background-color:grey" mat-align-tabs="center">
    <mat-tab selectedIndex label="About eth>to_mars">
      <div class="mat-display-1">Create your own dapps</div>
      <div class="mat-h1" style="text-align: right;" >a powerful tool to learn how to create and deploy your own decentralized apps on ethereum blockchain</div>

      <mat-card>
        <img src="assets/feature01.png">
      </mat-card>
    </mat-tab>
    <!--
    <mat-tab label="💻 create">
      <mat-card>
        <img src="assets/feature02.png">
      </mat-card>
    </mat-tab>
    <mat-tab label="☁️ deploy">
      <mat-card>
        <img src="assets/feature03.png">
      </mat-card>
    </mat-tab>
    -->
    <mat-tab>
      <ng-template mat-tab-label>
        <button mat-raised-button color="accent" style="margin-right: 10px" routerLink="/profile">Try now</button>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <section>
    <h1>Community</h1>
    <h3>join the community of ethereum developers</h3>
    <a mat-raised-button color="accent" style="margin-right: 10px" routerLink="/profile">upgrade</a>
  </section>

  <mat-divider></mat-divider>

  <section>
    <div style="word-break: break-all" class="mat-display-1">eth>to_mars</div>
    <h4>lets code the future on mars, now</h4>

    <div class="grid">
      <mat-card routerLink="/">
        <img src="assets/01.jpg">
        <mat-card-header>
          <mat-card-title>Angular</mat-card-title>
          <mat-card-subtitle>a simple yet powerful framework</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card routerLink="/">
        <img src="assets/02.jpg">
        <mat-card-header>
          <mat-card-title>Solidity</mat-card-title>
          <mat-card-subtitle>smart contract of the present</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card routerLink="/">
        <img src="assets/03.jpg">
        <mat-card-header>
          <mat-card-title>Web3</mat-card-title>
          <mat-card-subtitle>combine all the technologies</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card routerLink="/">
        <img src="assets/04.jpg">
        <mat-card-header>
          <mat-card-title>Ethereum</mat-card-title>
          <mat-card-subtitle>cost effective blockchain</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>  
  </section>

  <section>
    <div class="mat-display-1">FAQs</div>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header><p class="mat-h1">What is eth>to_mars?</p></mat-expansion-panel-header>
        <p>Ethtomars is a learning platform that lets you instantly play video lessons on the browser. Courses are ready wherever you have internet, without waiting for installs, downloads, or updates.</p>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
  
  <app-affiliate></app-affiliate>

</main>