<main>
  <div class="img-hero">
    <img src="assets/hero.jpg">
    <div class="img-text">
      <div class="mat-display-2">CREATE YOUR DAPPS//</div>
    </div>
  </div>
  <div style="text-align: right;" class="mat-h1">a powerful tool to learn how to create and deploy your own decentralized apps on ethereum blockchain</div>

  <section>
    <h1>Community</h1>
    <h3>join the community of ethereum developers</h3>
    <a mat-raised-button color="accent" style="margin-right: 10px" routerLink="/profile">upgrade</a>
  </section>

  
  <mat-tab-group style="background-color:grey" mat-align-tabs="center">
    <mat-tab selectedIndex label="🎓 learn">
      <mat-card>
        <img src="assets/feature01.png">
      </mat-card>
    </mat-tab>
    <mat-tab label="💻 create">
      <mat-card>
        <img src="assets/feature02.png">
      </mat-card>
    </mat-tab>
    <mat-tab label="☁️ deploy">
      <mat-card>
        <img src="assets/feature03.png">
      </mat-card>
    </mat-tab>
  </mat-tab-group>

  <section>
    <h1>AS FEATURED ON</h1>
    <img class="featured" src="assets/featured.png">
  </section>

  <mat-divider></mat-divider>

  <section>
    <div style="word-break: break-all" class="mat-display-1">eth>to_mars</div>
    <h4>lets code the future on mars, now</h4>

    <div class="grid">
      <mat-card routerLink="/">
        <img src="assets/01.jpg">
        <mat-card-header>
          <mat-card-title>Angular</mat-card-title>
          <mat-card-subtitle>a simple yet powerful framework</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card routerLink="/">
        <img src="assets/02.jpg">
        <mat-card-header>
          <mat-card-title>Solidity</mat-card-title>
          <mat-card-subtitle>smart contract of the present</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card routerLink="/">
        <img src="assets/03.jpg">
        <mat-card-header>
          <mat-card-title>Web3</mat-card-title>
          <mat-card-subtitle>combine all the technologies</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card routerLink="/">
        <img src="assets/04.jpg">
        <mat-card-header>
          <mat-card-title>Ethereum</mat-card-title>
          <mat-card-subtitle>cost effective blockchain</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>  
  </section>

  <section class="wave">
    <div class="mat-display-1" style="text-align: left">SHOP</div>
    <div class="mat-headline" style="text-align: left">just get the best products to remind you the future we are creating.</div>
    <a mat-raised-button color="accent" style="margin-right: 10px;" href="https:///ashortfallofgravitas.etsy.com/" target="blank">shop</a>
  </section>

</main>