main {
  text-align: center;
}

.featured {
  width: 100%;
}

.grid {
  margin: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  .grid-item-anim {
    transition: transform 500ms ease;
    &:hover {
      transform: translateY(-3px);
    }
  }
}
mat-card {
  border-radius: 1rem;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  overflow: hidden;
  padding: 0;

  transition: transform 300ms ease;
  &:hover {
    transform: translateY(-3px);
  }
}

mat-tab-group {
  mat-card {
    margin: 3em;
  }
}

img {
  width: 100%;
}

.img-hero {
  position: relative;
  //height: 300px;
  overflow: hidden;

  & img {
    height: auto;
    vertical-align: middle;
    width: 80%;
    top: 30px;
  }
  & .img-text {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}