/*
footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}
*/
.footer {
  text-align: center;
  padding: 100px 0 50px 0;
}
img {
  height: 50px;
}